p{
	width: 100px;
	background: red;
	font-size: 85px;
	text-align: center;
}

#p1 {

}

#p2 {
	/*transform: translateX(50px);*/
	/*transform: translateY(50px);*/
	/*transform: translate(50px,50px);*/
	/*transform: rotateY(180deg);*/
	/*transform: rotateY(180deg);*/
	transform: scaleX(2);
}